{% if socials is not empty %}
    <div class="flex justify-center items-center flex-wrap space-x-2">
        {% for social in socials %}
            {% if social.link %}
                <a href="{{ social.link }}" class="p-2">
                    <svg class="w-7 h-7 fill-white hover:fill-amber-300 transition">
                        <use xlink:href="#i-{{ social.code }}"></use>
                    </svg>
                </a>
            {% endif %}
        {% endfor %}
    </div>
{% endif %}
