<footer class="bg-slate-800">
    <div class="container py-6">
        <div class="flex flex-col items-center sm:flex-row sm:justify-between">
            <p class="text-sm text-gray-400">{{ 'now'|date('Y') }} © {{ this.theme.site_copyright }}</p>
            <div class="flex mt-3 -mx-2 sm:mt-0 md:pr-16">
                {% partial "socials/socials" socials=this.theme.socials %}
            </div>
        </div>
    </div>
</footer>
