<div id="section-about" class="py-16">
    <div class="container items-center grid gap-4 md:grid-cols-2">
        <div class="">
            {% partial "headline/headline" noIcon=1 text=this.theme.about_heading classes="text-center mb-5 md:text-5xl md:text-left" %}
            <div class="prose">{{ this.theme.about_text|raw }}</div>
        </div>
        <div class="flex items-center justify-center">
            <img class="w-full h-full lg:max-w-2xl object-cover" src="{{ this.theme.about_image ? this.theme.about_image|media|resize(600,600,{mode:'crop'}) : "assets/images/default/about-image.jpg"|theme|resize(600,600,{mode:'crop'}) }}" alt="{{ this.theme.about_heading }}" title="{{ this.theme.about_heading }}">
        </div>
    </div>
</div>
