<div id="mobile-menu" class="-left-[300px] transition-all z-50 h-full transition bg-gray-900 fixed flex flex-col w-[80%] max-w-[300px] z-40">
    {% for item in this.theme.header_menu %}
        <a href="{{ item.url }}" class="flex justify-start items-center space-x-6 hover:text-white focus:bg-gray-700 focus:text-white hover:bg-gray-700 text-gray-400 rounded px-3 py-4 w-full md:w-52">
            {% partial "svg-icon/svg-icon" classes="w-4 h-4 fill-white" id="arrow-right" %}
            <span class="text-base leading-4">{{ item.name }}</span> </a>
    {% endfor %}
</div>
