<div id="{{ id }}" class="container py-16">
    {% partial "headline/headline" text=this.theme.contact_heading classes="text-center mb-2" %}
    <div class="text-center mb-10 md:w-3/5 m-auto">{{ this.theme.contact_description }}</div>

    <div class="flex flex-col justify-center gap-4 mb-7 md:flex-row">
        <div class="bg-amber-300 px-4 py-8 rounded-xl flex flex-col items-center justify-center text-center relative grow shrink basis-1/3">
            {% partial "svg-icon/svg-icon" classes="z-20 w-full h-5/6 absolute fill-white inset-y-0 m-auto opacity-30" id="pin" %}
            <span class="z-20 font-bold">{{ this.theme.contact_address }}</span>
        </div>
        {% if this.theme.contact_phones is not empty %}
            <div class="bg-amber-300 px-4 py-8 rounded-xl flex flex-col items-center justify-center text-center relative grow shrink basis-1/3">
                {% partial "svg-icon/svg-icon" classes="z-20 w-full h-5/6 absolute fill-white inset-y-0 m-auto opacity-30" id="phone" %}
                {% for phone in this.theme.contact_phones %}
                    <span class="z-20 font-bold">
                        <a href="tel:{{ phone.phone }}" class="hover:text-amber-600 font-bold transition">{{ phone.phone }}</a>
                        {% if phone.description %}<span>{{ phone.description }}</span>{% endif %}
                    </span>
                {% endfor %}
            </div>
        {% endif %}
        {% if this.theme.contact_emails is not empty %}
            <div class="bg-amber-300 px-4 py-8 rounded-xl flex flex-col items-center justify-center text-center relative grow shrink basis-1/3">
                {% partial "svg-icon/svg-icon" classes="z-20 w-full h-5/6 absolute fill-white inset-y-0 m-auto opacity-30" id="email" %}
                {% for email in this.theme.contact_emails %}
                    <span class="z-20 font-bold">
                        <a href="mailto:{{ email.email }}" class="hover:text-amber-600 font-bold transition">{{ email.email }}</a>
                        {% if email.description %}<span>{{ email.description }}</span>{% endif %}
                    </span>
                {% endfor %}
            </div>
        {% endif %}
    </div>

    <div class="text-xl text-gray-800 lg:text-2xl text-center font-secondary">Opening hours</div>
    {% partial "opening-hours/opening-hours" class="" %}
</div>
