<div id="{{ id }}" class="py-16 bg-amber-300">
    <div class="container">
        {% partial "headline/headline" text=this.theme.menu_heading classes="text-center mb-2" %}
        <div class="text-center mb-10 md:w-3/5 m-auto">{{ this.theme.menu_description }}</div>
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-6 items-start">
            {% for dish in this.theme.menu_dished %}
                {% partial "card-dish/card-dish" item=dish %}
            {% endfor %}
        </div>
        <div class="flex flex-wrap justify-center -m-2 mt-5">
            {% for menu in this.theme.menu_files %}
                {% partial "button/button"
                    options = {
                    'tag':'a',
                    'classes':'m-2',
                    'body': menu.heading
                }
                    attributes = {
                    'href':menu.file|media,
                    'target':'_blank',
                    'rel':'nofollow',
                } %}
            {% endfor %}
        </div>
    </div>
</div>
