<div id="{{ id }}" class="relative bg-amber-300 pt-[60px] h-[450px] md:h-screen">
    <div class="w-full h-full bg-center bg-cover" style="background-image: url({{ this.theme.hero_image ? this.theme.hero_image|media|resize(1920,1000,{mode:'crop'}) : "assets/images/default/hero-image.jpg"|theme|resize(1920,1000,{mode:'crop'}) }});">
        <div class="flex text-center items-center justify-center w-full h-full bg-gray-900 bg-opacity-50">
            <div class="container">
                {% partial "headline/headline" tag="h1" noIcon=1 light=1 text=this.theme.hero_heading classes="text-center mb-5" %}
                <div class="text-center mb-10 md:w-3/5 m-auto text-white">{{ this.theme.hero_description }}</div>
            </div>
        </div>
    </div>
    <a href="#section-about" class="flex justify-center absolute inset-x-0 bottom-10">
        <div class="cursor-pointer animate-bounce bg-white p-2 w-10 h-10 ring-1 ring-slate-900/5 shadow-lg rounded-full flex items-center justify-center">
            <svg class="w-6 h-6 text-amber-400" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor">
                <path d="M19 14l-7 7m0 0l-7-7m7 7V3"></path>
            </svg>
        </div>
    </a>
</div>
