<header id="header" class="bg-white shadow fixed w-full z-30">
    <div class="container flex justify-between items-center py-1">
        <div>
            <a class="" href="/">
                <img class="max-w-[125px] max-h-[55px] md:max-w-[200px] md:max-h-[80px]" src="{{ this.theme.site_logo ? this.theme.site_logo|media|resize(200,80) : "assets/images/default/logo.png"|theme|resize(200,80) }}" alt="{{ this.theme.site_name }}" title="{{ this.theme.site_name }}">
            </a>
        </div>
        {% partial "burger/burger" classes="sm:hidden" %}
        {% partial "main-menu/main-menu" %}
    </div>
</header>
{% partial "mobile-menu/mobile-menu" %}
