<div id="main-menu" class="hidden sm:flex items-center">
    <div class="flex items-center">
        {% for item in this.theme.header_menu %}
            <a href="{{ item.url }}" class="hover:text-amber-600 text-gray-700 transition uppercase mx-4">{{ item.name }}</a>
            {% if not loop.last %}
                <div class="inline-block h-3 w-[1px] bg-gray-400"></div>{% endif %}
        {% endfor %}
    </div>
</div>
