<div id="{{ id }}" class="py-16 bg-amber-300">
    <div class="container">
        {% partial "headline/headline" text=this.theme.food_heading classes="text-center mb-2" %}
        <div class="text-center mb-10 md:w-3/5 m-auto">{{ this.theme.food_description }}</div>
        <div class="grid grid-cols-1 gap-8 md:grid-cols-3">
            {% for item in this.theme.food_items %}
                <div class="bg-white p-5 rounded-xl shadow-lg">
                    <div class="flex items-center mb-2">
                        {% partial "svg-icon/svg-icon" classes="w-8 h-8 fill-gray-800 mr-4" id="meal" %}
                        <div class="font-semibold ">{{ item.heading }}</div>
                    </div>
                    <div class="">{{ item.text }}</div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
