{% if light %}
    {% set textClasses = 'text-white' %}
    {% set lineClasses = 'bg-white' %}
    {% set iconClasses = 'fill-white' %}
{% else %}
    {% set textClasses = 'text-gray-800' %}
    {% set lineClasses = 'bg-black' %}
    {% set iconClasses = 'fill-black' %}
{% endif %}
<{{ tag ?: 'div' }} class="text-4xl md:text-6xl font-secondary {{ classes }} {{ textClasses }}">
{{ text }}
	{% if not noIcon %}
        <div class="flex m-auto w-1/2 md:w-1/3 items-center">
            <div class="h-[1px] grow opacity-30 {{ lineClasses }}"></div>
            {% partial "svg-icon/svg-icon" classes="w-16 h-16 px-3 grow-0 opacity-30 "~iconClasses id="cutlery" %}
            <div class="h-[1px] grow opacity-30 {{ lineClasses }}"></div>
        </div>
    {% endif %}
</{{ tag ?: 'div' }}>
