<div class="flex flex-col items-center m-auto max-w-[700px] {{ class }}">
    {% for dayInfo in this.theme.contact_opening_hours %}
        <div class="flex py-2 w-full justify-center {{ loop.last ?: 'border-b border-dotted' }}">
            <div class="min-w-[110px]">
                {{ dayInfo.day }}:
            </div>
            <div class="">
                {{ dayInfo.time }}
            </div>
        </div>
    {% endfor %}
</div>
