<div id="{{ id }}" class="pt-16">
    <div class="container">
        {% partial "headline/headline" text=this.theme.gallery_heading classes="text-center mb-2" %}
        <div class="text-center mb-10 md:w-3/5 m-auto">{{ this.theme.gallery_description }}</div>
    </div>
    <div class="container-flyid">
        <div class="grid gap-[1px] grid-cols-2 md:grid-cols-4" id="gallery">
            {% for item in this.theme.gallery_items %}
                <a href="{{ item.image ? item.image|media : "assets/images/default/placeholder.jpg"|theme }}" data-fancybox="gallery" class="relative group overflow-hidden">
                    <img src="{{ item.image ? item.image|media|resize(720,540,{mode:'crop'}) : "assets/images/default/placeholder.jpg"|theme|resize(720,540,{mode:'crop'}) }}" alt="Photo {{ loop.index }}" title="Photo {{ loop.index }}" class="w-full transition group-hover:scale-125">
                </a>
            {% endfor %}
        </div>
    </div>
</div>
