<div class="flex flex-col items-center justify-center max-w-sm mx-auto">
    <div class="w-full h-64 bg-gray-300 bg-center bg-cover rounded-lg shadow-md overflow-hidden">
        <img class="object-cover w-full h-full" src="{{ item.image ? item.image|media|resize(380,250, {mode:'crop'}) : "assets/images/default/placeholder.jpg"|theme|resize(380,250, {mode:'crop'}) }}" alt="{{ item.description }}" title="{{ item.description }}">
    </div>
    <div class="w-5/6 -mt-10 overflow-hidden bg-white rounded-lg shadow-lg z-10">
        <div class="block p-2 font-bold tracking-wide text-center text-gray-800 uppercase">{{ item.heading }}</div>
        <div class="px-3 py-2 bg-gray-200 text-center">
            {{ item.description }}
        </div>
    </div>
</div>
