description = "Default layout"
==
<?php
    use Cms\Classes\Theme;
    use System\Models\MailSetting;
    function onContactFormSubmit(){
        $rules = [
            'name' => 'required',
            'email' => 'required|email',
            'comments' => 'required',
        ];
        $messages = [
            'name.required' => 'Name is required',
            'email.required' => 'E-mail is required',
            'email.email' => 'E-mail must be valid email address',
            'comments.required' => 'Message is required',
        ];
        $validation = Validator::make(post(), $rules, $messages);
        if ($validation->fails()) {
            throw new ValidationException($validation);
        }
        $vars = [
            'name' => post('name'),
            'email' => post('email'),
            'comments' => post('comments'),
        ];
        $theme = Theme::getActiveTheme();
        Mail::send(['raw' => 'Name: {{ name }}<br>E-mail: {{ email }}<br>Message: {{ comments }}'], $vars, function ($message) use($theme) {
            $message->from(MailSetting::get('sender_email'), MailSetting::get('sender_name'));
            foreach($theme->mail_recipients as $recipient){
                $message->to($recipient['email'], $recipient['name']);
            }
            $message->replyTo(post('email'));
            $message->subject('Contact request');
        });
        return [
            '.js-contact-form-flash' => $this->renderPartial('alert/alert', [
            'text' => 'Your message was sent successfully'
            ])
        ];
    }
?>
==
<!DOCTYPE html>
<html dir="ltr" lang="en-US">
{% partial "head/head" %}
<body class="p-0 text-gray-800">
<div>
    {% partial "header/header" %}
    {% page %}
    {% partial "footer/footer" %}
    {% partial "svg-sprite/svg-sprite" %}
    {% partial "to-top-button/to-top-button" %}
</div>
<script async defer src="https://maps.googleapis.com/maps/api/js?key={{ this.theme.map_google_maps_key }}"></script>
{% framework extras %}
<script src="{{ 'assets/dist/js/manifest.js'|theme }}"></script>
<script src="{{ 'assets/dist/js/vendor.js'|theme }}"></script>
<script src="{{ 'assets/dist/js/app.js'|theme }}"></script>
</body>
</html>
