<div id="{{ id }}" class="grid grid-cols-1 md:grid-cols-2">
    <div class="container bg-amber-300">
        <div class="py-8 md:py-16 md:px-6 lg:px-10 max-w-[600px] m-auto">
            {% partial "headline/headline" text=this.theme.contact_form_heading classes="text-center mb-2" %}
            <div class="text-center mb-10 md:w-3/5 m-auto">{{ this.theme.contact_form_description }}</div>
            {% partial "form-contact/form-contact" class="" %}
        </div>
    </div>
    <div class="relative bg-gradient-to-r from-cyan-500 to-blue-500 h-full min-h-[400px] flex align-center justify-center">
        {% partial "google-map/google-map" id="map" classes="w-full h-full absolute" lat_lng=this.theme.map_coordinates %}
    </div>
</div>
