<?xml version="1.0" encoding="utf-8"?>
<svg style="display: none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <symbol viewBox="0 0 67.733 135.467" id="i-facebook">
        <path d="M42.333 46.567V29.633a8.47 8.47 0 018.467-8.466h8.467V0H42.333c-14.029 0-25.4 11.37-25.4 25.4v21.167H0v21.166h16.933v67.734h25.4V67.733h16.934l8.466-21.166z"/>
    </symbol>
    <symbol viewBox="0 0 135.467 135.467" id="i-instagram">
        <path d="M93.133 0h-50.8C18.957 0 0 18.957 0 42.333v50.8c0 23.377 18.957 42.334 42.333 42.334h50.8c23.377 0 42.334-18.957 42.334-42.334v-50.8C135.467 18.957 116.51 0 93.133 0zm29.634 93.133c0 16.341-13.293 29.634-29.634 29.634h-50.8c-16.34 0-29.633-13.293-29.633-29.634v-50.8c0-16.34 13.293-29.633 29.633-29.633h50.8c16.341 0 29.634 13.293 29.634 29.633z"/>
        <path d="M67.733 33.867c-18.703 0-33.866 15.163-33.866 33.866S49.03 101.6 67.733 101.6 101.6 86.436 101.6 67.733c0-18.703-15.164-33.866-33.867-33.866zm0 55.033c-11.667 0-21.166-9.5-21.166-21.167 0-11.675 9.5-21.166 21.166-21.166 11.667 0 21.167 9.49 21.167 21.166C88.9 79.4 79.4 88.9 67.733 88.9z"/>
        <circle r="17.056" cy="118.4" cx="393.6" transform="scale(.26458)"/>
    </symbol>
    <symbol viewBox="0 0 512 512" id="i-tripadvisor">
        <path d="M128 159.234H16A15.975 15.975 0 00.64 170.786c-1.984 6.88.8 14.208 6.848 17.984.128.096 11.072 7.232 19.552 20.224C9.536 231.234 0 258.562 0 287.234c0 70.592 57.408 128 128 128s128-57.408 128-128-57.408-128-128-128zm0 224c-52.928 0-96-43.072-96-96 0-24.384 9.248-47.52 25.984-65.12a15.974 15.974 0 003.008-17.632 94.747 94.747 0 00-7.328-13.248H128c52.928 0 96 43.072 96 96s-43.072 96-96 96z"/>
        <path d="M301.536 338.306c-7.136-5.152-17.12-3.68-22.368 3.552l-22.336 30.784-24.352-31.232c-5.44-6.976-15.52-8.256-22.464-2.784-6.944 5.44-8.192 15.488-2.752 22.464l37.44 48a16.03 16.03 0 0012.608 6.144h.288c5.024-.096 9.728-2.528 12.64-6.592l34.816-48c5.184-7.136 3.648-17.152-3.52-22.336zM426.784 163.426c-97.344-88.864-244.224-88.896-341.568 0-6.528 5.952-7.008 16.064-1.024 22.592 5.952 6.56 16.064 6.976 22.592 1.024 85.088-77.664 213.376-77.664 298.432 0A15.91 15.91 0 00416 191.234c4.352 0 8.672-1.76 11.808-5.216 5.984-6.528 5.504-16.64-1.024-22.592zM128 223.234c-35.296 0-64 28.704-64 64s28.704 64 64 64 64-28.704 64-64-28.704-64-64-64zm0 96c-17.632 0-32-14.336-32-32 0-17.632 14.368-32 32-32s32 14.368 32 32c0 17.664-14.368 32-32 32z"/>
        <path d="M128.64 271.234h-.32c-8.832 0-15.84 7.168-15.84 16s7.328 16 16.16 16 16-7.168 16-16-7.168-16-16-16zM484.928 208.994c8.48-12.96 19.488-20.192 19.584-20.224a15.984 15.984 0 006.848-17.984c-1.952-6.848-8.224-11.552-15.36-11.552H384c-70.592 0-128 57.408-128 128s57.408 128 128 128 128-57.408 128-128c0-28.64-9.536-56-27.072-78.24zM384 383.234c-52.928 0-96-43.072-96-96s43.072-96 96-96h74.336a94.747 94.747 0 00-7.328 13.248c-2.656 5.952-1.504 12.928 3.008 17.632C470.784 239.746 480 262.85 480 287.234c0 52.928-43.072 96-96 96z"/>
        <path d="M384 223.234c-35.296 0-64 28.704-64 64s28.704 64 64 64 64-28.704 64-64-28.704-64-64-64zm0 96c-17.664 0-32-14.336-32-32 0-17.632 14.336-32 32-32s32 14.368 32 32c0 17.664-14.336 32-32 32z"/>
        <path d="M384.64 271.234h-.32c-8.832 0-15.84 7.168-15.84 16s7.36 16 16.16 16c8.832 0 16-7.168 16-16s-7.168-16-16-16z"/>
    </symbol>
    <symbol viewBox="0 0 24 24" id="i-foursquare">
        <path d="M3.5 2.161v20.336c0 .952.559 1.298.841 1.411.287.117 1.053.216 1.52-.333 5.954-7.004 6.056-7.121 6.056-7.121.143-.159.157-.145.314-.145h3.852c1.621 0 1.875-1.181 2.047-1.861l2.245-11.392C20.767 1.069 20.273 0 18.425 0H5.805C4.073 0 3.5 1.327 3.5 2.161zm2.668 1.257c0-.361.314-.778.767-.778h10.117c.378 0 .72.361.624.82l-.003-.001-.526 2.798c-.055.305-.439.619-.78.619H11.45c-.555 0-.952.389-.952.952v.609c0 .563.397.966.952.966h4.176c.383 0 .767.431.684.853a376.73 376.73 0 00-.526 2.756c-.041.23-.314.633-.781.633h-3.395c-.624 0-.794.084-1.224.591 0 0-.411.534-4.134 5.078-.041.042-.083.028-.083-.014V3.418z"/>
    </symbol>
    <symbol viewBox="0 0 135.467 110.067" id="i-twitter">
        <path d="M135.467 13.03c-5.038 2.21-10.406 3.675-16.002 4.386 5.757-3.438 10.151-8.84 12.217-15.35-5.368 3.2-11.294 5.46-17.61 6.722A27.83 27.83 0 0093.784 0C78.41 0 66.032 12.48 66.032 27.78c0 2.2.186 4.317.643 6.332C43.586 32.986 23.156 21.92 9.432 5.063 7.036 9.22 5.63 13.978 5.63 19.101c0 9.618 4.953 18.144 12.336 23.08-4.462-.085-8.839-1.38-12.547-3.42v.304c0 13.496 9.626 24.706 22.25 27.288-2.26.618-4.724.915-7.281.915-1.778 0-3.573-.102-5.258-.474 3.598 10.998 13.81 19.083 25.95 19.346A55.802 55.802 0 016.646 97.985c-2.277 0-4.462-.102-6.646-.381 12.302 7.933 26.882 12.463 42.604 12.463 51.105 0 79.045-42.334 79.045-79.028 0-1.228-.042-2.413-.102-3.59 5.512-3.912 10.144-8.797 13.92-14.419z"/>
    </symbol>
    <symbol viewBox="0 0 24 24" id="i-youtube">
        <path d="M23.469 5.929l.03.196a3.043 3.043 0 00-2.068-2.112l-.021-.005c-1.871-.508-9.4-.508-9.4-.508s-7.51-.01-9.4.508A3.044 3.044 0 00.527 6.104l-.005.021c-.699 3.651-.704 8.038.031 11.947l-.031-.198a3.043 3.043 0 002.068 2.112l.021.005c1.869.509 9.4.509 9.4.509s7.509 0 9.4-.509a3.043 3.043 0 002.084-2.096l.005-.021c.318-1.698.5-3.652.5-5.648l-.001-.221.001-.23c0-1.997-.182-3.951-.531-5.846zM9.608 15.651V8.358l6.266 3.652z"/>
    </symbol>
    <symbol viewBox="0 0 512 512" id="i-phone">
        <g data-name="1">
            <path d="M348.73 450.06a198.63 198.63 0 0 1-46.4-5.85c-52.43-12.65-106.42-44.74-152-90.36s-77.71-99.62-90.36-152c-13.32-55.1-3.82-102.24 26.72-132.78l8.72-8.72a42.2 42.2 0 0 1 59.62 0l50.11 50.1a42.18 42.18 0 0 1 0 59.62l-29.6 29.59c14.19 24.9 33.49 49.82 56.3 72.63s47.75 42.12 72.64 56.31l29.59-29.6a42.15 42.15 0 0 1 59.62 0l50.1 50.1a42.16 42.16 0 0 1 0 59.61l-8.73 8.72c-21.53 21.57-51.33 32.63-86.33 32.63ZM125.22 78a12 12 0 0 0-8.59 3.56l-8.73 8.72c-22.87 22.87-29.55 60-18.81 104.49 11.37 47.13 40.64 96.1 82.41 137.86s90.73 71 137.87 82.41c44.5 10.74 81.61 4.06 104.48-18.81l8.72-8.72a12.16 12.16 0 0 0 0-17.19l-50.09-50.1a12.16 12.16 0 0 0-17.19 0l-37.51 37.51a15 15 0 0 1-17.5 2.72c-30.75-15.9-61.75-39.05-89.65-66.95s-51-58.88-66.94-89.63a15 15 0 0 1 2.71-17.5l37.52-37.51a12.16 12.16 0 0 0 0-17.19l-50.1-50.11a12.07 12.07 0 0 0-8.6-3.56Z"/>
            <path d="M364.75 269.73a15 15 0 0 1-15-15 99.37 99.37 0 0 0-99.25-99.26 15 15 0 0 1 0-30c71.27 0 129.25 58 129.25 129.26a15 15 0 0 1-15 15Z"/>
            <path d="M428.15 269.73a15 15 0 0 1-15-15c0-89.69-73-162.66-162.65-162.66a15 15 0 0 1 0-30c106.23 0 192.65 86.43 192.65 192.66a15 15 0 0 1-15 15Z"/>
        </g>
    </symbol>
    <symbol viewBox="0 0 512 512" id="i-email">
        <path d="M467 61H45C20.218 61 0 81.196 0 106v300c0 24.72 20.128 45 45 45h422c24.72 0 45-20.128 45-45V106c0-24.72-20.128-45-45-45zm-6.214 30L256.954 294.833 51.359 91h409.427zM30 399.788V112.069l144.479 143.24L30 399.788zM51.213 421l144.57-144.57 50.657 50.222c5.864 5.814 15.327 5.795 21.167-.046L317 277.213 460.787 421H51.213zM482 399.787L338.213 256 482 112.212v287.575z"></path>
    </symbol>
    <symbol viewBox="0 0 512 512" id="i-pin">
        <path d="M256 0C156.748 0 76 80.748 76 180c0 33.534 9.289 66.26 26.869 94.652l142.885 230.257A15 15 0 00258.499 512h.119a14.997 14.997 0 0012.75-7.292L410.611 272.22C427.221 244.428 436 212.539 436 180 436 80.748 355.252 0 256 0zm128.866 256.818L258.272 468.186l-129.905-209.34C113.734 235.214 105.8 207.95 105.8 180c0-82.71 67.49-150.2 150.2-150.2S406.1 97.29 406.1 180c0 27.121-7.411 53.688-21.234 76.818z"></path>
        <path d="M256 90c-49.626 0-90 40.374-90 90 0 49.309 39.717 90 90 90 50.903 0 90-41.233 90-90 0-49.626-40.374-90-90-90zm0 150.2c-33.257 0-60.2-27.033-60.2-60.2 0-33.084 27.116-60.2 60.2-60.2s60.1 27.116 60.1 60.2c0 32.683-26.316 60.2-60.1 60.2z"></path>
    </symbol>
    <symbol viewBox="0 0 60 61" id="i-cuisine">
        <path d="M18.351 37.522a1 1 0 10-1.115-1.661 23.318 23.318 0 00-3.491 2.876A22.807 22.807 0 007.376 50.82a1 1 0 001.968.36 20.8 20.8 0 015.816-11.029 21.166 21.166 0 013.191-2.629z"/>
        <path d="M56.977 54.048C56.52 41.205 47.078 30.462 34.4 28.361c.12-.242.22-.493.3-.751a3.007 3.007 0 003.08-1.82A15.734 15.734 0 0039 19.838a9.771 9.771 0 00-1.015-3.39l10.144 4.8c.454.22.951.332 1.455.33a3.38 3.38 0 001.607-6.35l-.054-.028a3.371 3.371 0 00-1.378-5.864C43.318 7.778 36.718 6.45 31.156 5.6 23.62 2.511 17.84.93 14 .93A31.5 31.5 0 001.173 3.506 1.994 1.994 0 000 5.33v12.91A2 2 0 002.959 20l7.219-3.939a4.9 4.9 0 015.322.333 10.9 10.9 0 012.645 3.056c1.055 1.75 2.215 3.56 3.438 5.382.245.362.483.7.7 1.022l.353.508a3.2 3.2 0 002.63 1.369h.048c.081.217.177.429.288.633-12.677 2.1-22.12 12.84-22.579 25.682A3.462 3.462 0 000 57.5 3.5 3.5 0 003.5 61h53a3.492 3.492 0 00.477-6.952zM27.529 21.679a6.551 6.551 0 01-.58-4.433.613.613 0 01.36-.426 4.649 4.649 0 013.068.621 4.087 4.087 0 012.464 3.238c-.02.371-.076.74-.168 1.1a4.9 4.9 0 00-5.144-.1zm22.789-8.808a1.37 1.37 0 01-1.454 1.117 242.392 242.392 0 00-10.016-5c3.4.67 6.937 1.445 10.435 2.293.711.173 1.165.87 1.035 1.59zM24.284 25.223l-.355-.512c-.217-.312-.45-.647-.688-1a135.701 135.701 0 01-3.384-5.3 12.862 12.862 0 00-3.139-3.608 6.9 6.9 0 00-7.5-.505L2 18.24 1.985 5.334A29.5 29.5 0 0114 2.93c3.916 0 10.119 1.8 18.436 5.359 5.409 2.322 11.73 5.412 17.792 8.7.65.352.907 1.152.587 1.818a1.4 1.4 0 01-1.827.642l-13.56-6.42a.986.986 0 00-1.224.334c-.278.4-.236.94.1 1.291A9.664 9.664 0 0137 20.026a14.189 14.189 0 01-1.068 5 1 1 0 01-1.369.501 1.044 1.044 0 00-.089-.058.957.957 0 01-.474-.829c.004-.12.027-.238.067-.35l.11-.358c.352-1.083.574-2.204.662-3.34a6.026 6.026 0 00-3.595-4.953c-1.1-.528-3.167-1.314-4.715-.661-.71.3-1.25.898-1.477 1.635-.727 2.17 0 4.454.906 6.471a4.962 4.962 0 00-.929 2.61 1.18 1.18 0 01-.745-.471zm2.754 1.212A2.826 2.826 0 0127 26a2.993 2.993 0 013-3c.796 0 1.557.326 2.108.9a2.842 2.842 0 00.787 2.847 2.94 2.94 0 01-.765 1.347C31.425 28.036 30.715 28 30 28s-1.428.036-2.134.091a2.955 2.955 0 01-.828-1.656zm30.525 32.128c-.282.282-.665.44-1.063.437h-53a1.5 1.5 0 010-3H10a1 1 0 000-2H5.024a24.99 24.99 0 0142.649-16.672A24.778 24.778 0 0154.976 54H15a1 1 0 000 2h41.5a1.5 1.5 0 011.063 2.563z"/>
        <path d="M8.889 5.348a26.29 26.29 0 00-4.218 1.076A1 1 0 004 7.369V12a1 1 0 002 0V8.091a24.568 24.568 0 013.224-.771 1 1 0 00-.335-1.972z"/>
        <circle cx="21" cy="35" r="1"/>
    </symbol>
    <symbol viewBox="0 0 512.002 512.002" id="i-diets">
        <path d="M197.965 198.867a23.4 23.4 0 00-16.847-7.585c-12.859-.165-23.497 10.087-23.715 22.936a7.5 7.5 0 007.372 7.626l.13.001a7.5 7.5 0 007.496-7.374 8.328 8.328 0 018.482-8.191 8.234 8.234 0 016.007 2.704 7.5 7.5 0 1011.075-10.117zM237.867 223.31a21.485 21.485 0 00-12.281-11.702c-11.074-4.085-23.419 1.592-27.522 12.653a7.5 7.5 0 0014.063 5.217c1.232-3.322 4.945-5.022 8.265-3.797a6.335 6.335 0 013.67 3.499 7.5 7.5 0 0013.805-5.87zM286.206 156.885a7.498 7.498 0 00-10.606.011l-7.07 7.084a7.5 7.5 0 1010.617 10.595l7.07-7.084a7.5 7.5 0 00-.011-10.606zM239.545 253.709h-9.996a7.5 7.5 0 00-7.5 7.5 7.5 7.5 0 007.5 7.5h9.996a7.5 7.5 0 007.5-7.5 7.5 7.5 0 00-7.5-7.5zM316.189 253.709h-9.997a7.5 7.5 0 000 15h9.997a7.5 7.5 0 000-15z"/>
        <path d="M511.761 388.942l-1.953-10.542c-1.245-6.736-7.127-11.625-13.986-11.625-.861 0-1.729.079-2.583.236l-39.76 7.304 18.006-12.037a14.197 14.197 0 006.075-14.393 14.205 14.205 0 00-1.598-4.381l-5.449-9.649a14.283 14.283 0 00-8.726-6.754 14.29 14.29 0 00-5.518-.348 189.717 189.717 0 003.039-33.873c0-5.105-3.07-9.498-7.455-11.449 5.73-13.628 6.121-29.23.457-43.518a9.037 9.037 0 00-2.024-3.083 9.083 9.083 0 00-3.064-2.02 57.057 57.057 0 00-23.983-4.005c-1.039-20.933-18.364-37.644-39.514-37.644-2.785 0-5.501.296-8.124.848A61.798 61.798 0 00372.105 159a9.255 9.255 0 00-2.072-3.179 9.174 9.174 0 00-3.113-2.05 61.459 61.459 0 00-22.839-4.388c-11.816 0-23.119 3.322-32.877 9.498a74.176 74.176 0 00-17.658-28.255 12.65 12.65 0 00-9.011-3.738 12.655 12.655 0 00-9.014 3.74l-36.313 36.396a37.698 37.698 0 00-25.161-9.577c-2.178 0-4.377.191-6.536.567-7.823 1.362-15.022 5.191-20.541 10.799-7.077-3.415-15.184-4.58-22.975-3.224a38.053 38.053 0 00-4.991 1.23v-28.046c0-19.314-15.523-35.055-34.725-35.387V87.48c5.878-1.017 10.366-6.14 10.366-12.304V39.137c0-6.892-5.607-12.5-12.5-12.5H61.154c-6.893 0-12.5 5.608-12.5 12.5v36.039c0 6.164 4.488 11.287 10.366 12.304v15.904c-19.202.331-34.724 16.072-34.724 35.387v218.896C9.322 371.19 0 390.059 0 410.925c0 41.046 36.025 74.44 80.307 74.44l300.187-.088c10.246-.004 19.882-4.507 26.436-12.353a34.117 34.117 0 007.534-27.343l59.957 10.775c.83.149 1.68.225 2.523.225 2.99 0 5.855-.918 8.281-2.652a14.27 14.27 0 005.793-9.46l1.624-10.897a14.125 14.125 0 00-.077-4.674 14.207 14.207 0 00-10.81-11.261l-21.133-4.848 39.721-7.297a14.136 14.136 0 009.152-5.922 14.089 14.089 0 002.266-10.628zm-85.74-145.207c4.515 0 8.954.715 13.222 2.124 3.814 11.614 2.386 24.141-3.586 34.489h-20.204l6.447-6.462a7.5 7.5 0 00-.013-10.607 7.498 7.498 0 00-10.606.012l-3.411 3.419a34.785 34.785 0 00-8.061-13.846c7.444-5.911 16.582-9.129 26.212-9.129zm-42.296-37.576c13.545 0 24.564 11.052 24.564 24.637 0 .252-.012.501-.019.751-7.906 2.571-15.193 6.866-21.408 12.699a34.415 34.415 0 00-3.022-1.008 34.793 34.793 0 00-20.732-25.789c4.379-6.784 11.977-11.29 20.617-11.29zm-39.645-41.778c5.094 0 10.1.824 14.924 2.454a46.988 46.988 0 01-1.855 34.637 39.83 39.83 0 00-9.608 13.321 35.396 35.396 0 00-4.001.456c-5.877 1.023-11.357 3.573-15.943 7.271a39.69 39.69 0 00-5.673-7.875l17.199-17.238a7.498 7.498 0 00-.013-10.606 7.5 7.5 0 00-10.607.012l-18.798 18.841a39.202 39.202 0 00-11.506-3.417 46.863 46.863 0 0112.816-24.117c8.839-8.86 20.582-13.739 33.065-13.739zm-57.47 115.967h-6.501c-1.095-2.786-3.802-4.761-6.977-4.761s-5.882 1.976-6.977 4.761h-7.648c1.776-2.892 1.417-6.724-1.09-9.226a7.5 7.5 0 00-10.607.011l-7.069 7.084a7.465 7.465 0 00-1.482 2.131h-15.265c-5.717-8.773-9.206-19.128-9.619-30.268h118.986c-.413 11.14-3.902 21.495-9.619 30.268h-15.885a7.47 7.47 0 00-1.482-2.132l-7.068-7.084a7.5 7.5 0 00-10.606-.012c-2.509 2.502-2.868 6.335-1.091 9.228zm-17.443-45.268c2.827-10.477 12.384-18.208 23.71-18.208 11.327 0 20.884 7.732 23.711 18.208h-47.421zm15.337-92.221a59.31 59.31 0 0114.164 26.486 61.772 61.772 0 00-9.519 13.652 7.451 7.451 0 00-3.907-1.107h-9.994a7.5 7.5 0 000 15h8.767a62.114 62.114 0 00-1.154 6.279 39.224 39.224 0 00-8.484 3.314c-4.999-8.627-13.277-15.056-23.085-17.635a37.968 37.968 0 00-3.024-9.67l36.236-36.319zm-135.578 67.676a22.636 22.636 0 01-.992-3.758c-2.151-12.401 6.209-24.249 18.632-26.412a23.136 23.136 0 013.955-.344c4.941 0 9.663 1.576 13.654 4.557a7.502 7.502 0 0010.74-1.864c3.521-5.311 8.908-8.835 15.168-9.925a23.139 23.139 0 013.964-.344 22.747 22.747 0 0122.454 18.905c.218 1.255.33 2.563.332 3.888a7.5 7.5 0 006.844 7.458c8.385.737 15.523 6.014 18.832 13.448a39.542 39.542 0 00-8.667 18.936H211.07c-5.318 0-9.881 3.283-11.784 7.929-9.41-6.409-20.5-9.862-32.122-9.862a57.084 57.084 0 00-21.206 4.075 9.052 9.052 0 00-3.06 2.017 8.972 8.972 0 00-2.021 3.077 57.46 57.46 0 00-3.499 13.331 22.696 22.696 0 01-5.322-11.135c-1.764-10.176 3.563-20.308 12.95-24.64a7.5 7.5 0 003.92-9.337zm22.358 67.762l2.046 2.051h-18.013c-4.044-9.382-4.658-20.061-1.375-30.077a42.05 42.05 0 0113.222-2.125c11.301 0 21.932 4.417 29.933 12.436a42.427 42.427 0 012.986 3.34 74.091 74.091 0 005.74 16.425H194.52l-12.617-12.646c-2.927-2.931-7.676-2.939-10.606-.012a7.5 7.5 0 00-.013 10.608zm-31.94 2.051h-26.737c1.192-7.265 5.562-13.458 11.628-17.11a37.706 37.706 0 0013.678 11.336 58.004 58.004 0 001.431 5.774zM63.654 41.637h55.991v31.039H63.654V41.637zm45.625 46.039v15.693H74.021V87.676h35.258zm-69.982 81.511H88a7.5 7.5 0 007.5-7.5 7.5 7.5 0 00-7.5-7.5H39.297v-15.416c0-11.25 9.124-20.402 20.339-20.402h64.028c11.216 0 20.34 9.152 20.34 20.402v15.416H130a7.5 7.5 0 00-7.5 7.5 7.5 7.5 0 007.5 7.5h14.004v6.657c-8.593 8.425-13.056 20.78-10.852 33.489l.013.077c-12.032 8.255-18.443 22.931-15.89 37.664.149.86.336 1.706.54 2.543a39.77 39.77 0 00-9.996 7.856H39.297v-88.286zm-.001 103.285H99.11a39.346 39.346 0 00-1.632 7.876h-1.264c-6.903 0-12.52 5.621-12.52 12.53 0 11.909 1.107 23.6 3.252 35.038a82.704 82.704 0 00-6.613-.266c-9.07 0-17.712 1.439-24.331 4.053-10.125 3.998-12.924 9.675-13.535 13.603a83.144 83.144 0 00-3.171 1.675v-74.509zm94.971 92.135c2.701 2.161 4.352 3.998 5.309 5.323l-.279.002c-4.245 0-11.872-1.711-20.545-6.512-3.229-1.789-6.204-3.81-8.604-5.843a7.5 7.5 0 00-9.697.001c-2.4 2.035-5.374 4.055-8.6 5.84-8.675 4.803-16.302 6.514-20.546 6.514l-.281-.002c.956-1.325 2.607-3.163 5.309-5.325a7.5 7.5 0 00-3.814-13.304c-7.319-.858-11.947-2.721-14.114-4.077 2.715-1.691 9.579-4.574 21.931-4.574 10.23 0 17.707 2.151 21.293 4.165a7.503 7.503 0 007.343.001c3.588-2.014 11.066-4.165 21.296-4.165 12.353 0 19.216 2.884 21.93 4.574-2.166 1.357-6.795 3.219-14.116 4.077a7.5 7.5 0 00-6.337 5.384 7.49 7.49 0 002.522 7.921zm-15.003 91.286l.258 1.39a34.157 34.157 0 005.401 13.082H80.307c-36.01 0-65.307-26.664-65.307-59.44 0-22.399 13.688-41.935 33.844-52.065 2.315 1.728 5.201 3.218 8.625 4.42-1.358 2.319-2.304 4.813-2.527 7.414-.296 3.458.762 6.742 2.982 9.248 2.933 3.312 7.435 4.991 13.381 4.991 7.924 0 18.321-3.137 27.811-8.391a73.966 73.966 0 006.185-3.82 74.439 74.439 0 006.185 3.821c9.49 5.253 19.887 8.389 27.811 8.39h.001c5.944 0 10.446-1.679 13.378-4.99 2.221-2.506 3.28-5.79 2.983-9.249-.223-2.601-1.169-5.095-2.527-7.414 3.424-1.203 6.311-2.693 8.626-4.42 15.985 8.034 27.896 21.985 32.143 38.588l-53.045 20.151c-15.527 5.9-24.608 22.004-21.592 38.294zm276.154 7.414a19.406 19.406 0 01-14.931 6.97l-7.872.003-4.918-26.555a7.498 7.498 0 00-8.741-6.009 7.5 7.5 0 00-6.009 8.74l4.414 23.829-25.806.01-3.325-17.957a7.5 7.5 0 00-14.75 2.731l2.82 15.232-60.025.023-4.518-24.388a7.5 7.5 0 00-14.75 2.733l4.013 21.661-87.644.034h-.006c-9.372 0-17.404-6.65-19.102-15.816l-.258-1.39c-1.695-9.156 3.423-18.213 12.17-21.537l29.477-11.198 2.196 11.852a7.502 7.502 0 008.741 6.008 7.5 7.5 0 006.007-8.741l-2.693-14.533 43.755-16.622a7.5 7.5 0 00-5.326-14.023l-20.361 7.735c-5.712-20.223-20.386-37.116-39.845-46.794-.611-3.928-3.41-9.605-13.534-13.603-6.619-2.614-15.261-4.053-24.331-4.053-6.242 0-12.203.689-17.465 1.944v-4.53a7.5 7.5 0 00-7.5-7.5 7.46 7.46 0 00-4.634 1.61 175.207 175.207 0 01-1.955-23.827H343a7.5 7.5 0 007.5-7.5 7.5 7.5 0 00-7.5-7.5h-3.069a74.244 74.244 0 007.474-32.519c0-6.617-5.063-12.068-11.515-12.687a19.767 19.767 0 0110.223-5.116c1.145-.199 2.307-.3 3.455-.3a19.818 19.818 0 0119.564 16.469c.191 1.105.289 2.245.29 3.39a7.5 7.5 0 006.844 7.462c8.963.787 16.296 7.528 17.833 16.392a19.603 19.603 0 01-.052 6.909H386a7.5 7.5 0 00-7.5 7.5 7.5 7.5 0 007.5 7.5h58.292c-.186 13.758-1.958 27.197-5.263 40.236l-40.646 23.994a34.222 34.222 0 00-16.225-20.447 34.433 34.433 0 00-29.11-2.143l-83.711 31.802a7.5 7.5 0 005.326 14.023l11.028-4.189 3.424 18.487a7.503 7.503 0 008.741 6.009 7.5 7.5 0 006.009-8.74l-3.921-21.17 58.429-22.197a19.466 19.466 0 0116.459 1.21 19.27 19.27 0 019.576 13.331l15.173 81.915a19.183 19.183 0 01-4.163 15.84zm26.76-58.706a7.5 7.5 0 00-.322 14.686l55.84 12.808-1.395 9.359-64.734-11.633-10.119-54.634 56.384-33.284 4.697 8.317-47.558 31.791a7.5 7.5 0 005.524 13.612l74.706-13.723 1.664 8.98-74.687 13.721z"/>
    </symbol>
    <symbol viewBox="0 0 480.008 480.008" id="i-dining-style">
        <path d="M479.668 453.576v-.001l-23.664-78.88v-30.824a343.783 343.783 0 0121.968-121.12l1.528-4.072a8.002 8.002 0 00-14.992-5.6l-1.52 4.072a359.682 359.682 0 00-22.808 118.72h-88.176a8 8 0 00-8 8v112a8 8 0 0016 0v-72h82.048l22.288 74.296a8 8 0 009.96 5.368 8 8 0 005.368-9.959zm-39.664-85.705h-80v-16h80v16zM128.004 335.871H39.828A359.672 359.672 0 0017.02 217.135l-1.52-4.072a8.002 8.002 0 00-14.992 5.6l1.528 4.072a343.776 343.776 0 0121.968 121.136v30.824L.34 453.575a8.001 8.001 0 005.367 9.96h.001a8 8 0 009.96-5.368l22.288-74.296h82.048v72a8 8 0 0016 0v-112a8 8 0 00-8-8zm-8 32h-80v-16h80v16z"/>
        <path d="M368.004 239.871h-120v-48c17.673 13.255 42.745 9.673 56-8a40 40 0 008-24v-24a8 8 0 00-16 0v24c0 13.255-10.745 24-24 24s-24-10.745-24-24v-32a8 8 0 00-16 0v32c0 13.255-10.745 24-24 24s-24-10.745-24-24v-24a8 8 0 00-16 0v24c.053 22.118 18.026 40.005 40.144 39.952a40.051 40.051 0 0023.856-7.952v48h-120a8 8 0 00-8 8v32a8 8 0 008 8h72a7.52 7.52 0 001.744-.352l46.256 33.04v103.312a8 8 0 005.472 7.592 42.768 42.768 0 0121.728 16.408h-51.2a8 8 0 000 16h64a8 8 0 007.592-10.528 58.962 58.962 0 00-31.592-34.928v-91.28c1.671.254 3.358.385 5.048.392a35.296 35.296 0 0025.008-10.4l29.256-29.256h60.688a8 8 0 008-8v-32a8 8 0 00-8-8zm-248 32v-16h21.432l22.4 16h-43.832zm178.344 2.344l-31.6 31.6c-6.69 6.719-17.266 7.593-24.968 2.064l-72.8-52 147.712-.008-18.344 18.344zm61.656-2.344h-36.688l16-16h20.688v16zM326.132 65.583L310.86 40.159a8.312 8.312 0 00-13.712 0l-15.272 25.448c-7.317 12.237-3.328 28.089 8.909 35.406a25.814 25.814 0 0013.219 3.658c14.258-.008 25.809-11.573 25.801-25.831a25.815 25.815 0 00-3.673-13.257zm-17.057 21.719c-4.639 2.796-10.667 1.302-13.463-3.337a9.81 9.81 0 010-10.127l-.016-.024 8.408-13.984 8.408 14.008c2.796 4.64 1.303 10.667-3.337 13.464zM263.932 45.199l-15.264-25.448a8.32 8.32 0 00-13.72 0l-15.264 25.448c-7.104 11.808-3.661 27.116 7.816 34.744 11.856 7.903 27.875 4.699 35.778-7.158a25.8 25.8 0 00.654-27.586zM246.86 66.918c-4.639 2.788-10.66 1.287-13.448-3.352a9.8 9.8 0 010-10.096h-.008l8.408-14.008 8.4 14.008c2.788 4.64 1.287 10.661-3.352 13.448zM199.932 69.199l-15.264-25.448a8.32 8.32 0 00-13.72 0l-15.264 25.448c-7.33 12.229-3.358 28.085 8.871 35.415a25.815 25.815 0 0013.257 3.673c14.258-.013 25.806-11.581 25.793-25.839a25.816 25.816 0 00-3.673-13.249zM182.86 90.918c-4.639 2.788-10.66 1.287-13.448-3.352a9.8 9.8 0 010-10.096h-.008l8.408-14.008 8.4 14.008c2.788 4.64 1.287 10.661-3.352 13.448z"/>
    </symbol>
    <symbol viewBox="-99 0 486 486.507" id="i-dress-code">
        <path d="M50.438 194.082a7.99 7.99 0 004.93 4.563 7.992 7.992 0 006.671-.801l39.715-24.528 3.605 13.38-37.738 226.57a8.002 8.002 0 002.442 7.171l68.742 63.926a8 8 0 0010.902 0l68.742-63.925a8 8 0 002.457-7.07l-34.672-226.77 2.735-11.914 37.5 23.16a7.99 7.99 0 006.672.8 7.984 7.984 0 004.925-4.562l49.575-120.465c.402-.965.609-2 .613-3.047V7.93a8.066 8.066 0 00-.133-1.313 7.058 7.058 0 00-.223-.976.075.075 0 00-.011-.04 7.315 7.315 0 00-.38-.984 8.174 8.174 0 00-.555-1.02c-.018-.03-.034-.062-.054-.093a8.772 8.772 0 00-.62-.8c-.055-.063-.114-.126-.173-.188a8.785 8.785 0 00-.64-.625c-.04-.032-.07-.067-.11-.102A8.293 8.293 0 00282.36.23c-.074-.02-.148-.039-.222-.054a7.682 7.682 0 00-.942-.176c-.035 0-.074.129-.11.125-.28-.027-.565.102-.855.102H8.273a9.198 9.198 0 00-.859-.102c-.027 0-.055-.063-.082-.059a8.291 8.291 0 00-.977.145c-.066.016-.132.016-.199.035a7.954 7.954 0 00-1.969.832c-.066.04-.132.074-.203.113a8.33 8.33 0 00-.832.602c-.035.031-.07.062-.105.102a7.481 7.481 0 00-.645.625c-.058.062-.117.125-.172.187-.222.254-.43.523-.62.8-.016.032-.036.063-.055.095-.168.265-.325.539-.461.824-.032.066-.067.129-.094.191-.148.32-.273.653-.379.988 0 .012-.008.024-.012.04a8.39 8.39 0 00-.218.976c-.016.082-.036.164-.047.25a8.007 8.007 0 00-.09 1.059v62.64a8.042 8.042 0 00.61 3.043zm11.199-14.8L16.254 68.987v-42.37L131.223 136.3zm82.617-53.028L93.902 78.219h100.7zm67.121-64.035H77.133l-48.887-46h232.016zm-12.434 313.36L99.547 318.96l7.41-44.5 84.484 52.078zm-89.144-118.161l5.973-35.856 66.285 43.54 6.218 40.687zm61.43-63.2l7.57 49.563-60.152-39.535 1.668-10.027zm-26.973 273.36l-60.145-55.93 3.707-22.261 89.16 47.761zm45.105-41.945l-98.765-52.91 6.152-36.946 105.277 59.97 2.426 15.855zm-17.636-247.414H119.66l-3.707-13.711 28.3-17.461 30.337 18.707zm55.144 1.062l-69.582-42.98L272.254 26.617v42.371zm0 0"/>
    </symbol>
    <symbol viewBox="0 0 64 64" id="i-meal">
        <path d="M6 22.899V59c0 1.654 1.346 3 3 3s3-1.346 3-3V22.899A5.009 5.009 0 0016 18V5c0-1.654-1.346-3-3-3a2.98 2.98 0 00-2 .78C10.468 2.301 9.771 2 9 2s-1.468.301-2 .78A2.98 2.98 0 005 2C3.346 2 2 3.346 2 5v13a5.008 5.008 0 004 4.899zM4 5a1 1 0 012 0v11h2V5a1 1 0 012 0v11h2V5a1 1 0 012 0v13c0 1.654-1.346 3-3 3a1 1 0 00-1 1v37a1 1 0 01-2 0V22a1 1 0 00-1-1c-1.654 0-3-1.346-3-3zM61.561 2.172a1.002 1.002 0 00-.932-.101 10.018 10.018 0 00-6.239 8.164l-2.383 20.65a1 1 0 00.212.739L56 36.351V59c0 1.654 1.346 3 3 3s3-1.346 3-3V3c0-.332-.165-.642-.439-.828zM60 59a1 1 0 01-2 0V36a1 1 0 00-.219-.625l-3.74-4.675 2.335-20.236A8.022 8.022 0 0160 4.636zM23 24h2c0-4.963 4.037-9 9-9v-2c-6.065 0-11 4.935-11 11zM38.4 13.916a10.837 10.837 0 00-2.202-.696l-.396 1.961a8.92 8.92 0 011.798.567zM14 56c0 1.654 1.346 3 3 3h23c1.324 1.839 3.804 3 6.5 3 4.136 0 7.5-2.691 7.5-6s-3.364-6-7.5-6c-2.696 0-5.176 1.161-6.5 3H17c-1.654 0-3 1.346-3 3zm3-1h23.545a1 1 0 00.869-.506C42.275 52.979 44.271 52 46.5 52c3.032 0 5.5 1.794 5.5 4s-2.468 4-5.5 4c-2.229 0-4.225-.979-5.086-2.494a1 1 0 00-.869-.506H17a1 1 0 010-2z"/>
        <path d="M16.097 45.429A1 1 0 0017 46h36a1 1 0 00.774-1.633l-7.267-8.882C49.4 32.336 51 28.3 51 24c0-9.374-7.626-17-17-17s-17 7.626-17 17c0 4.84 2.043 9.355 5.602 12.574l-6.376 7.793a.999.999 0 00-.129 1.062zM19 24c0-8.271 6.729-15 15-15s15 6.729 15 15c0 3.697-1.339 7.176-3.769 9.925l-9.456-11.557c-.381-.465-1.168-.465-1.549 0L23.868 35.026C20.773 32.191 19 28.236 19 24zm16 .579L50.89 44H19.11z"/>
    </symbol>
    <symbol viewBox="0 0 480.48 480.48" id="i-payment">
        <path d="M477.128 172.606l-53.68-139.568C413.276 6.654 383.641-6.488 357.257 3.684c-.383.148-.765.3-1.145.457l-268.256 111.2c-25.543 10.478-38.097 39.391-28.312 65.208l7.376 19.688H50c-27.601.031-49.969 22.399-50 50v180c.031 27.601 22.399 49.969 50 50h340c27.601-.031 49.969-22.399 50-50v-180a49.153 49.153 0 00-.72-8.096l9.288-3.76c25.771-10.563 38.437-39.733 28.56-65.775zM50 216.238h340c17.956.051 32.768 14.074 33.8 32H16.2c1.032-17.927 15.844-31.95 33.8-32zm80.408-48.192l53.472-26.744 10.992 27.496-53.472 26.736-10.992-27.488zM424 430.238c-.022 18.769-15.231 33.978-34 34H50c-18.769-.022-33.978-15.231-34-34v-102h408v102zm0-118H16v-48h408v48zm18.568-88.64l-8.36 3.384A50.024 50.024 0 00390 200.238H167.776l40.84-20.424a8 8 0 003.856-10.128l-16.968-42.4a8 8 0 00-11.007-4.184l-67.832 33.936a8.001 8.001 0 00-3.848 10.128l13.232 33.072H84l-9.472-25.264c-6.715-17.738 1.91-37.598 19.456-44.8l268.248-111.2c17.933-7.436 38.499 1.073 45.936 19.006.116.279.228.56.336.842l53.68 139.568c6.791 17.895-1.908 37.943-19.616 45.208z"/>
        <path d="M287.775 441.742a48.001 48.001 0 0048.225 0c22.922 13.317 52.3 5.53 65.617-17.392s5.53-52.3-17.392-65.617A48 48 0 00360 352.237a47.659 47.659 0 00-24 6.496c-22.922-13.317-52.3-5.531-65.617 17.391-13.317 22.923-5.53 52.3 17.392 65.618zm61.601-71.552A31.687 31.687 0 01360 368.238c17.673 0 32 14.327 32 32 0 17.673-14.327 32-32 32a31.687 31.687 0 01-10.624-1.952c14.164-17.529 14.164-42.568 0-60.096zM336 379.294c10.667 11.926 10.667 29.962 0 41.888-10.667-11.926-10.667-29.963 0-41.888zm-24-11.056c3.627.037 7.221.698 10.624 1.952-14.164 17.528-14.164 42.568 0 60.096A31.687 31.687 0 01312 432.238c-17.673 0-32-14.327-32-32 0-17.674 14.327-32 32-32zM343.958 179.965l-6.5-14.621 76.321-33.926 6.5 14.621zM286.51 148.43l110.238-50.882 6.702 14.52-110.239 50.883z"/>
    </symbol>
    <symbol viewBox="0 0 474.8 474.8" id="i-checkmark">
        <path d="M396.283 257.097c-1.14-.575-2.282-.862-3.433-.862-2.478 0-4.661.951-6.563 2.857l-18.274 18.271c-1.708 1.715-2.566 3.806-2.566 6.283v72.513c0 12.565-4.463 23.314-13.415 32.264-8.945 8.945-19.701 13.418-32.264 13.418H82.226c-12.564 0-23.319-4.473-32.264-13.418-8.947-8.949-13.418-19.698-13.418-32.264V118.622c0-12.562 4.471-23.316 13.418-32.264 8.945-8.946 19.7-13.418 32.264-13.418H319.77c4.188 0 8.47.571 12.847 1.714 1.143.378 1.999.571 2.563.571 2.478 0 4.668-.949 6.57-2.852l13.99-13.99c2.282-2.281 3.142-5.043 2.566-8.276-.571-3.046-2.286-5.236-5.141-6.567-10.272-4.752-21.412-7.139-33.403-7.139H82.226c-22.65 0-42.018 8.042-58.102 24.126C8.042 76.613 0 95.978 0 118.629v237.543c0 22.647 8.042 42.014 24.125 58.098 16.084 16.088 35.452 24.13 58.102 24.13h237.541c22.647 0 42.017-8.042 58.101-24.13 16.085-16.084 24.134-35.45 24.134-58.098v-90.797c-.002-3.994-1.915-6.752-5.72-8.278z"/>
        <path d="m467.95 93.216-31.409-31.409c-4.568-4.567-9.996-6.851-16.279-6.851-6.275 0-11.707 2.284-16.271 6.851L219.265 246.532l-75.084-75.089c-4.569-4.57-9.995-6.851-16.274-6.851-6.28 0-11.704 2.281-16.274 6.851l-31.405 31.405c-4.568 4.568-6.854 9.994-6.854 16.277 0 6.28 2.286 11.704 6.854 16.274l122.767 122.767c4.569 4.571 9.995 6.851 16.274 6.851 6.279 0 11.704-2.279 16.274-6.851l232.404-232.403c4.565-4.567 6.854-9.994 6.854-16.274s-2.283-11.706-6.851-16.273z"/>
    </symbol>
    <symbol viewBox="0 0 59.998 59.998" id="i-tag">
        <path d="M59.206.293a.999.999 0 0 0-1.414 0L54.085 4H30.802L1.532 33.511c-.666.666-1.033 1.553-1.033 2.495s.367 1.829 1.033 2.495l20.466 20.466a3.51 3.51 0 0 0 2.491 1.031 3.54 3.54 0 0 0 2.509-1.041l28.501-29.271V5.414l3.707-3.707a.999.999 0 0 0 0-1.414zm-5.707 28.581L25.574 57.553a1.53 1.53 0 0 1-2.162 0L2.946 37.087a1.532 1.532 0 0 1 .003-2.165L31.636 6h20.449l-4.833 4.833A4.969 4.969 0 0 0 44.499 10c-2.757 0-5 2.243-5 5s2.243 5 5 5 5-2.243 5-5a4.969 4.969 0 0 0-.833-2.753l4.833-4.833v21.46zm-6-13.874c0 1.654-1.346 3-3 3s-3-1.346-3-3 1.346-3 3-3c.462 0 .894.114 1.285.301l-1.992 1.992a.999.999 0 1 0 1.414 1.414l1.992-1.992c.188.391.301.823.301 1.285z"/>
    </symbol>
    <symbol viewBox="0 0 709.708 709.708" id="i-cutlery">
        <path d="M184.581 0C104.83 0 48.86 129.687 48.86 199.904c0 75.504 60.89 136.921 135.721 136.921s135.721-61.417 135.721-136.909C320.314 129.687 264.344 0 184.581 0zm0 312.163c-61.355 0-111.279-50.365-111.279-112.259 0-65.92 53.902-175.254 111.279-175.254 57.378 0 111.279 109.333 111.279 175.254.013 61.906-49.911 112.259-111.279 112.259zm-12.508 397.544h24.441V364.559h-24.441v345.148zm378.804 0h24.442V290.584h-24.442v419.123zM636.418 7.074v175.83c0 32.189-25.96 58.381-57.867 58.381h-3.231V7.074h-24.442v234.21h-3.23c-31.908 0-57.867-26.192-57.867-58.381V7.074h-24.442v175.83c0 45.787 36.926 83.031 82.31 83.031h30.892c45.383 0 82.309-37.244 82.309-83.031V7.074h-24.432z"/>
    </symbol>
    <symbol viewBox="0 0 129 129" id="i-arrow-right">
        <path d="M40.4 121.3c-.8.8-1.8 1.2-2.9 1.2s-2.1-.4-2.9-1.2c-1.6-1.6-1.6-4.2 0-5.8l51-51-51-51c-1.6-1.6-1.6-4.2 0-5.8 1.6-1.6 4.2-1.6 5.8 0l53.9 53.9c1.6 1.6 1.6 4.2 0 5.8l-53.9 53.9z"/>
    </symbol>
    <symbol viewBox="0 0 516.4 516.4" id="i-wind">
        <path d="M382.5 306.101H114.7v19.1h267.8c11.5 0 19.1 7.6 19.1 19.1S394 363.4 382.5 363.4s-19.1-7.601-19.1-19.101h-19.1c0 21 17.199 38.2 38.199 38.2s38.199-17.2 38.199-38.2-17.198-38.198-38.198-38.198zM344.199 191.3c0-32.5-24.898-57.4-57.398-57.4S229.4 158.8 229.4 191.3h19.2c0-21 17.201-38.2 38.201-38.2S325 170.3 325 191.3s-17.199 38.2-38.199 38.2H57.4v19.2h229.5c32.5 0 57.299-24.9 57.299-57.4z"/>
        <path d="M439.801 133.9c-42.102 0-76.5 34.4-76.5 76.5h19.1c0-32.5 24.9-57.4 57.4-57.4s57.398 24.9 57.398 57.4-24.898 57.4-57.398 57.4H0v19.1h439.9c42.1 0 76.5-34.4 76.5-76.5s-34.5-76.5-76.599-76.5z"/>
    </symbol>
</svg>
