<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0"/>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <title>{{ this.theme.meta_title }}</title>
    <meta name="description" content="{{ this.theme.meta_description }}"/>
    <meta name="keywords" content="{{ this.theme.meta_keywords }}"/>
    <link rel="apple-touch-icon" sizes="180x180" href="{{ "assets/images/favicon/apple-touch-icon.png"|theme }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ "assets/images/favicon/favicon-32x32.png"|theme }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ "assets/images/favicon/favicon-16x16.png"|theme }}">
    <link rel="manifest" href="{{ "assets/images/favicon/site.webmanifest"|theme }}">
    <link rel="mask-icon" href="{{ "assets/images/favicon/safari-pinned-tab.svg"|theme }}" color="#5bbad5">
    <link rel="shortcut icon" href="{{ "assets/images/favicon/favicon.ico"|theme }}">
    <meta name="msapplication-TileColor" content="#ffc40d">
    <meta name="msapplication-config" content="{{ "assets/images/favicon/browserconfig.xml"|theme }}">
    <meta name="theme-color" content="#ffffff">
    <meta property="og:url" content="{{ url_current() | lower }}"/>
    <meta property="og:title" content="{{ this.theme.meta_title }}"/>
    <meta property="og:description" content="{{ this.theme.meta_description }}"/>
    <meta property="og:type" content="website"/>
    <meta property="og:site_name" content="{{ this.theme.site_name }}"/>
    <meta property="og:updated_time" content="{{ 'now'|date('U') }}">
    <meta property="og:image" content="{{ this.theme.og_image_1200_630 ? this.theme.og_image|media|resize(1200, 630, {mode:'crop'}) : 'assets/images/default/placeholder.jpg'|theme|resize(1200, 630, {mode:'crop'}) }}"/>
    <meta property="og:image:type" content="image/png"/>
    <meta property="og:image:width" content="1200"/>
    <meta property="og:image:height" content="630"/>
    <meta property="og:image:alt" content="{{ this.theme.meta_title }}"/>
    <meta property="og:image" content="{{ this.theme.og_image_1200_1200 ? this.theme.og_image|media|resize(1200, 1200, {mode:'crop'}) : 'assets/images/default/placeholder.jpg'|theme|resize(1200, 630, {mode:'crop'}) }}"/>
    <meta property="og:image:type" content="image/png"/>
    <meta property="og:image:width" content="1200"/>
    <meta property="og:image:height" content="1200"/>
    <meta property="og:image:alt" content="{{ this.theme.meta_title }}"/>

    <link rel="stylesheet" href="{{ [
        'assets/dist/css/app.css'
    ]|theme }}">
</head>
