<form id="contact-form" data-request="onContactFormSubmit" data-request-success="this.reset()" data-request-validate data-request-flash class="mt-6 grid gap-2 {{ class }}">
    {{ form_token() }}
    <div class="">
        <label for="name" class="block mb-2 text-sm font-medium">Name</label>
        <input name="name" id="name" class="block w-full px-4 py-2 bg-white rounded-md focus:border-blue-400 focus:ring-blue-300 focus:outline-none focus:ring focus:ring-opacity-40">
        <div data-validate-for="name" class="text-sm mt-1 text-red-500 visible"></div>
    </div>

    <div class="">
        <label for="email" class="block mb-2 text-sm font-medium">E-mail</label>
        <input name="email" id="email" class="block w-full px-4 py-2 bg-white rounded-md focus:border-blue-400 focus:ring-blue-300 focus:outline-none focus:ring focus:ring-opacity-40">
        <div data-validate-for="email" class="text-sm mt-1 text-red-500 visible"></div>
    </div>

    <div class="">
        <label for="comments" class="block mb-2 text-sm font-medium">Message</label>
        <textarea name="comments" id="comments" class="block w-full h-40 px-4 py-2 bg-white rounded-md focus:border-blue-400 focus:outline-none focus:ring focus:ring-blue-300 focus:ring-opacity-40"></textarea>
        <div data-validate-for="comments" class="text-sm mt-1 text-red-500 visible"></div>
    </div>
    <div>
        {% partial "button/button"
            options = {
            'tag':'button',
            'classes':'mb-2',
            'body':'Send message'
        }
            attributes = {
            'type':'submit',
        } %}
    </div>
    <div class="js-contact-form-flash"></div>
</form>
