<div id="{{ id }}" class="container py-16">
    {% partial "headline/headline" text=this.theme.features_heading classes="text-center mb-2" %}
    <div class="text-center mb-10 md:w-3/5 m-auto">{{ this.theme.features_description }}</div>
    <ul class="grid gap-2 sm:grid-cols-2 md:grid-cols-3">
        {% for feature in this.theme.features_items %}
            <li class="flex">
                {% partial "svg-icon/svg-icon" classes="w-6 h-6 mr-3 fill-amber-300" id="checkmark" %}
                {{ feature.heading }}
            </li>
        {% endfor %}
    </ul>
</div>
